# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test
.env*.local

# build
dist/


### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# sqlite database
src/database/database.sqlite